@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("./tabletview.css");
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: overpass;
}

body {
  background-color: #000000;
  color: white;
}

#myDetails {
  margin-left: 4rem;
  margin-bottom: 15rem;
}

#myDetails #myInitial {
  text-align: center;
  margin: 3rem 0 0 0;
  margin-top: 100px;
  height: 60px;
  width: 70px;
  background: #C4C4C4;
  color: #8E329D;
  border-radius: 10px;
  cursor: auto;
}

#myDetails #myInitial:hover {
  -webkit-animation: bounce 0.5s 2;
          animation: bounce 0.5s 2;
}

#myDetails #myInitial a {
  text-decoration: none;
  color: #8E329D;
}

#myDetails #myInitial h2 {
  padding-top: 0.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#myDetails #intro {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 98px;
}

#myDetails p {
  margin-top: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  width: 60%;
}

#myDetails p a {
  text-decoration: none;
  font-style: italic;
  color: white;
}

#myPortfolio {
  height: 4rem;
  width: 10rem;
  padding-top: 1.5%;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #c4c4c4;
  margin: 0 auto;
  border-radius: 10px;
  color: #8E329D;
  -webkit-animation: linearbounce 0.5s 5s infinite;
          animation: linearbounce 0.5s 5s infinite;
}

#showcase .portfolio {
  height: 500px;
  width: 100%;
  margin-top: 1rem;
  background: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
}

#showcase .portfolio .portfolioIMG {
  height: 320px;
  width: 500px;
  background: rgba(75, 72, 72, 0.39);
  margin: auto;
  position: relative;
  border: 4px solid white;
}

#showcase .portfolio .portfolioIMG::after {
  content: '';
  height: 320px;
  width: 500px;
  background: rgba(46, 24, 24, 0.39);
  position: absolute;
  left: 5%;
  top: 10%;
  border: 4px solid white;
  opacity: 0.5;
  z-index: -1;
}

#showcase .portfolio .portfolioText h2 {
  margin-top: 4rem;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
}

#showcase .portfolio .portfolioText p {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 6rem;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  width: 80%;
}

#showcase .portfolio .portfolioText a {
  position: relative;
  left: 40%;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}

#showcase .portfolioOne .portfolioIMG {
  background: url(./asset/ToDo.svg);
  background-position: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

#showcase .portfolioOne .portfolioIMG::after {
  background: url(./asset/ToDo.svg);
  background-position: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

#showcase .portfolioTwo .portfolioIMG {
  background: url(./asset/Lagos.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioTwo .portfolioIMG::after {
  background: url(./asset/Lagos.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioThree .portfolioIMG {
  background: url(./asset/WeatherApp.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioThree .portfolioIMG::after {
  background: url(./asset/WeatherApp.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioFour .portfolioIMG {
  background: url(./asset/ChillSearch.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioFour .portfolioIMG::after {
  background: url(./asset/ChillSearch.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.buttonEffect1 {
  display: inline-block;
  padding: 1rem 1.25rem .75rem 1.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(217, 217, 217, 0.5);
}

.buttonEffect1:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 10rem;
  z-index: -2;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.buttonEffect1:before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.buttonEffect1:hover {
  color: #fff;
}

.buttonEffect1:hover:before {
  width: 100%;
}

.buttonEffect1:hover::after {
  width: 55%;
}

.buttonEffect2 {
  display: inline-block;
  padding: 1rem 1.5rem .75rem 1.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
  -webkit-transition: all .3s;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(217, 217, 217, 0.5);
}

.buttonEffect2:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  z-index: -2;
}

.buttonEffect2:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(217, 217, 217, 0.5);
  -webkit-transition: all .3s;
  transition: all .3s;
  border-radius: 10rem;
  z-index: -1;
}

.buttonEffect2:hover {
  color: #fff;
}

.buttonEffect2:hover::before {
  height: 100%;
}

.buttonEffect2:hover::after {
  width: 0%;
}

.IGlinkEffects {
  position: relative;
}

.IGlinkEffects::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 40%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.IGlinkEffects:hover::before {
  content: '';
  padding-top: 12.5%;
  background: url(./asset/IG.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.LNlinkEffects {
  position: relative;
}

.LNlinkEffects::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 40%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.LNlinkEffects:hover::before {
  content: '';
  padding-top: 12.5%;
  background: url(./asset/Linkedin.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.GitLinkEffects {
  position: relative;
}

.GitLinkEffects::before {
  content: '';
  position: absolute;
  top: 100%;
  left: 40%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.GitLinkEffects:hover::before {
  content: '';
  padding-top: 12.5%;
  background: url(./asset/gitIcon.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
            transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
            transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
            transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
            transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
  }
}

@-webkit-keyframes linearbounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px);
            transform: scale(1, 0.8) translate(0px, 10px);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px);
            transform: scale(1, 1.1) translate(0px, -25px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
}

@keyframes linearbounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px);
            transform: scale(1, 0.8) translate(0px, 10px);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px);
            transform: scale(1, 1.1) translate(0px, -25px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
}

.notification {
  background-color: white;
  text-align: center;
  color: black;
  padding: 0.25rem;
  font-size: 18px;
}
/*# sourceMappingURL=main.css.map */