* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

body #content {
  padding-left: 5vw;
  padding-top: 20vh;
}

body #content #text {
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 3vw;
  line-height: 79px;
}

body #content #greetingText {
  font-size: 1.2vw;
  color: #969393;
}

body #content #about {
  font-weight: 600;
  font-size: 5vmin;
  line-height: 44px;
  max-width: 787px;
  margin-top: 10px;
}

body #content #demarcator {
  margin-top: 1rem;
  background-color: greenyellow;
  height: 0.5rem;
  width: 100%;
}

body #content #contactMe {
  margin-top: 1rem;
  height: 5vh;
  width: 20vw;
}

body #content #contactMe #gitIcon, body #content #contactMe #instaIcon, body #content #contactMe #linkedinIcon {
  display: inline-block;
  margin-right: 5vh;
  -webkit-transition: 1s;
  transition: 1s;
}

body #content #contactMe #gitIcon {
  height: 5vh;
  width: 5vh;
  background: url(./asset/git.svg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

body #content #contactMe #instaIcon {
  height: 5vh;
  width: 5vh;
  background: url(./asset/insta.svg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
}

body #content #contactMe #linkedinIcon {
  height: 5vh;
  width: 5vh;
  background: url(./asset/linkedin.svg);
  background-position: center;
  background-size: 90%;
  background-repeat: no-repeat;
  margin-right: 0;
}

body #design {
  position: relative;
  height: 100vh;
  padding-right: 5vw;
}

body #design a {
  text-decoration: none;
}

body #design #sayHello {
  height: 2rem;
  width: 8rem;
  border-radius: 30px;
  background-color: pink;
  margin: 0 auto;
  margin-top: 5vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 30%;
      grid-template-columns: 70% 30%;
}

body #design #sayHello span {
  margin: 0.6rem 0 0 1.25rem;
  color: #2e2d2d;
  font-family: Fira Code;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
}

body #design #sayHello #sayHi-Img {
  height: 100%;
  width: 100%;
  background: url(./asset/hi.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 50%;
}

body #design #image {
  height: 25rem;
  width: 25rem;
  background: url(./asset/me.png);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin: auto;
  margin-top: 16vh;
  border-radius: 100px;
  border: 5px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#gitIcon:hover, #instaIcon:hover, #linkedinIcon:hover {
  -webkit-transform: rotate(359deg) scale(1.2);
          transform: rotate(359deg) scale(1.2);
}

#image:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
          box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.541);
}

#sayHello:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

@media only screen and (max-width: 1300px) {
  body {
    display: inline-block;
    width: 100%;
  }
  body #content {
    float: left;
    width: 50vw;
  }
  body #design {
    float: right;
    width: 40vw;
  }
}

@media only screen and (max-width: 800px) {
  body {
    display: inline-block;
    width: 100%;
  }
  body #content {
    float: right;
    width: 45%;
    margin: 3vh 3vw 0 0;
    padding: 0;
  }
  body #content h1 {
    line-height: 36px;
  }
  body #content h1 #greetingText {
    font-size: 1rem;
  }
  body #content h1 #about {
    font-size: 2rem;
    font-weight: 400;
  }
  body #design {
    margin: 3vh 0 0 3vw;
    float: left;
    width: 45%;
  }
  body #design #image {
    margin: auto;
    width: 30vmin;
    height: 30vmin;
    border: 2px solid black;
  }
  body #design #sayHello {
    position: absolute;
    top: 25vmin;
    margin-left: 8vmin;
    width: 20vmin;
  }
  body #design #sayHello span {
    font-size: 1.75vmin;
  }
}
/*# sourceMappingURL=main.css.map */