@import url("https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap");
@import url("./tabletview.css");
:root {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: overpass;
}

body {
  background-color: #000000;
  color: white;
  overflow-x: hidden;
}

#myDetails {
  margin-left: 4rem;
  margin-bottom: 15rem;
}

#myDetails #myInitial {
  text-align: center;
  margin: 3rem 0 0 0;
  margin-top: 100px;
  height: 60px;
  width: 70px;
  background: #c4c4c4;
  color: #8e329d;
  border-radius: 10px;
  cursor: auto;
}

#myDetails #myInitial:hover {
  -webkit-animation: bounce 0.5s 2;
          animation: bounce 0.5s 2;
}

#myDetails #myInitial a {
  text-decoration: none;
  color: #8e329d;
}

#myDetails #myInitial h2 {
  padding-top: 0.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 44px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#myDetails #intro {
  margin-top: 2rem;
  font-style: normal;
  font-weight: 600;
  font-size: 4vw;
  line-height: 98px;
}

#myDetails p {
  margin-top: 2rem;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  width: 60%;
}

#myDetails p a {
  text-decoration: none;
  font-style: italic;
  color: white;
}

#myPortfolio {
  height: 4rem;
  width: 10rem;
  padding-top: 1.5%;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #c4c4c4;
  margin: 0 auto;
  border-radius: 10px;
  color: #8e329d;
  -webkit-animation: linearbounce 0.5s 5s infinite;
          animation: linearbounce 0.5s 5s infinite;
}

#showcase {
  padding: 2.5rem 0;
}

#showcase .portfolio {
  height: 500px;
  width: 100%;
  margin-top: 1rem;
  background: transparent;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 2fr;
      grid-template-columns: 2fr 2fr;
}

#showcase .portfolio .portfolioIMG {
  height: 320px;
  width: 500px;
  background: rgba(75, 72, 72, 0.39);
  margin: auto;
  position: relative;
  border: 4px solid white;
}

#showcase .portfolio .portfolioIMG::after {
  content: "";
  height: 320px;
  width: 500px;
  background: rgba(46, 24, 24, 0.39);
  position: absolute;
  left: 5%;
  top: 10%;
  border: 4px solid white;
  opacity: 0.5;
  z-index: -1;
}

#showcase .portfolio .portfolioText h2 {
  margin-top: 4rem;
  text-align: center;
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
}

#showcase .portfolio .portfolioText p {
  margin-top: 2rem;
  margin-left: 4rem;
  margin-bottom: 6rem;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  width: 80%;
}

#showcase .portfolio .portfolioText a {
  position: relative;
  left: 40%;
  margin: 0 auto;
  text-align: center;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
}

#showcase .portfolioOne .portfolioIMG {
  background: url(./asset/ToDo.svg);
  background-position: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

#showcase .portfolioOne .portfolioIMG::after {
  background: url(./asset/ToDo.svg);
  background-position: 100%;
  background-size: 110%;
  background-repeat: no-repeat;
}

#showcase .portfolioTwo .portfolioIMG {
  background: url(./asset/Lagos.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioTwo .portfolioIMG::after {
  background: url(./asset/Lagos.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioThree .portfolioIMG {
  background: url(./asset/WeatherApp.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioThree .portfolioIMG::after {
  background: url(./asset/WeatherApp.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioFour .portfolioIMG {
  background: url(./asset/ChillSearch.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

#showcase .portfolioFour .portfolioIMG::after {
  background: url(./asset/ChillSearch.svg);
  background-position: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.myTechStack {
  height: 4rem;
  width: 10rem;
  padding-top: 1.5%;
  font-style: normal;
  text-align: center;
  font-weight: bold;
  font-size: 24px;
  background-color: #c4c4c4;
  margin: 0 auto;
  border-radius: 10px;
  color: #8e329d;
  -webkit-animation: linearbounce 0.5s 5s infinite;
          animation: linearbounce 0.5s 5s infinite;
}

.techStack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 10rem;
  color: black;
}

.techStack .stackBox {
  height: 400px;
  width: 350px;
  padding-bottom: 2rem;
  background: #c4c4c4;
  margin: 2rem 0 0 2rem;
  position: relative;
}

.techStack .stackBox .stackIcon {
  height: 50px;
  width: 50px;
  background: #b62f2f;
  display: inline-block;
}

.techStack .stackBox h2 {
  display: inline;
  position: absolute;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 55px;
}

.techStack .stackBox p {
  width: 80%;
  margin-left: 10%;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
}

.techStack .boxOne {
  -webkit-box-shadow: 2px 2px 2px 2px #e44d26;
          box-shadow: 2px 2px 2px 2px #e44d26;
}

.techStack .boxOne .stackIcon {
  background: url(./asset/HTML.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.techStack .boxTwo {
  -webkit-box-shadow: 2px 2px 2px 2px #264de4;
          box-shadow: 2px 2px 2px 2px #264de4;
}

.techStack .boxTwo .stackIcon {
  background: url(./asset/CSS.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.techStack .boxThree {
  -webkit-box-shadow: 2px 2px 2px 2px #f7df1e;
          box-shadow: 2px 2px 2px 2px #f7df1e;
}

.techStack .boxThree .stackIcon {
  background: url(./asset/JavaScript.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
}

.techStack .boxFour {
  -webkit-box-shadow: 2px 2px 2px 2px #00d8ff;
          box-shadow: 2px 2px 2px 2px #00d8ff;
}

.techStack .boxFour .stackIcon {
  background: url(./asset/ReactHD.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  -webkit-animation: rotatingReact 4s linear infinite;
          animation: rotatingReact 4s linear infinite;
}

.tools {
  padding: 4rem 0 2rem 0;
  background: rgba(255, 255, 255, 0.3);
  border: 4px solid #ffffff;
  border-left: none;
  border-right: none;
  margin-bottom: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tools .toolsText {
  margin-top: 3rem;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
}

.tools .mytools {
  background: transparent;
  height: 200px;
  width: 200px;
  margin-left: 2rem;
  display: inline-block;
}

.tools .mytools .toolIcon {
  height: 100px;
  width: 100px;
  background: rgba(185, 177, 177, 0.459);
  margin: 0 auto;
}

.tools .mytools p {
  margin: 0 auto;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  color: black;
}

.tools .toolOne .toolIcon {
  background: url(./asset/github.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 85%;
}

.tools .toolTwo .toolIcon {
  background: url(./asset/postman.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 120%;
}

.tools .toolThree .toolIcon {
  background: url(./asset/figma.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 200%;
}

.tools .toolFour .toolIcon {
  background: url(./asset/gitIcon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 80%;
}

.tools .toolFive .toolIcon {
  background: url(./asset/vsCode.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}

.sayHello {
  background-color: #ffffff50;
  color: #000;
  padding-top: 4rem;
}

.sayHello h2 {
  text-align: center;
  font-style: italic;
  font-weight: 900;
  font-size: 64px;
  margin-bottom: 0.5rem;
}

.sayHello p {
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 2rem;
}

.sayHello form {
  margin-left: 10%;
  padding-bottom: 4rem;
}

.sayHello form input {
  display: block;
  background-color: #c4c4c4;
  margin: 1rem;
  width: 42.5%;
  height: 3.5rem;
  padding-left: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  outline: none;
}

.sayHello form textarea {
  display: inline-block;
  margin: 1rem;
  background: #c4c4c4;
  width: 34.5rem;
  outline: none;
  padding-left: 1rem;
  padding-top: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.sayHello form button {
  display: block;
  margin: 1rem;
  padding: 1rem;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  border-radius: 300px;
  outline: none;
  border: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  position: relative;
}

.sayHello form button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sayHello form button:active {
  cursor: loading;
}

footer {
  position: absolute;
  padding: 5rem 0 0 0;
  text-align: center;
  width: 100%;
  position: relative;
  bottom: 0;
}

footer #navFooter {
  margin-bottom: 3rem;
}

footer #navFooter a {
  color: white;
  text-decoration: none;
  text-align: center;
  margin-left: 4rem;
  text-transform: uppercase;
  position: relative;
}

footer #navFooter a::before {
  content: "";
  position: absolute;
  bottom: -30%;
  height: 5px;
  width: 0%;
  background-color: #ffffff88;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

footer #navFooter a::after {
  content: "";
  position: absolute;
  bottom: -30%;
  right: 0;
  height: 5px;
  width: 0%;
  background-color: #ffffff88;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

footer #navFooter a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

footer #navFooter a:hover::before {
  width: 50%;
}

footer #navFooter a:hover::after {
  width: 50%;
}

footer .socialmedialinks a {
  text-decoration: none;
}

footer .socialmedialinks a div {
  height: 25px;
  width: 25px;
  display: inline-block;
  background-color: yellow;
  margin-left: 2rem;
  margin-bottom: 3rem;
}

footer .socialmedialinks a div:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

footer .socialmedialinks a #linkedIn {
  margin-left: 0;
  background: url(./asset/Linkedin.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

footer .socialmedialinks a #twitter {
  background: url(./asset/Twitter.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

footer .socialmedialinks a #github {
  background: url(./asset/gitIcon.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

footer .socialmedialinks a #instagram {
  background: url(./asset/IG.svg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}

footer p {
  margin-bottom: 2rem;
}

.buttonEffect1 {
  display: inline-block;
  padding: 1rem 1.25rem 0.75rem 1.25rem;
  border-radius: 10rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(217, 217, 217, 0.5);
}

.buttonEffect1:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.5);
  border-radius: 10rem;
  z-index: -2;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.buttonEffect1:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(217, 217, 217, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.buttonEffect1:hover {
  color: #fff;
}

.buttonEffect1:hover:before {
  width: 100%;
}

.buttonEffect1:hover::after {
  width: 55%;
}

.buttonEffect2 {
  display: inline-block;
  padding: 1rem 1.5rem 0.75rem 1.5rem;
  border-radius: 10rem;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid rgba(217, 217, 217, 0.5);
}

.buttonEffect2:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 10rem;
  z-index: -2;
}

.buttonEffect2:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-color: rgba(217, 217, 217, 0.5);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 10rem;
  z-index: -1;
}

.buttonEffect2:hover {
  color: #fff;
}

.buttonEffect2:hover::before {
  height: 100%;
}

.buttonEffect2:hover::after {
  width: 0%;
}

.IGlinkEffects {
  position: relative;
}

.IGlinkEffects::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.IGlinkEffects:hover::before {
  content: "";
  padding-top: 12.5%;
  background: url(./asset/IG.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.LNlinkEffects {
  position: relative;
}

.LNlinkEffects::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.LNlinkEffects:hover::before {
  content: "";
  padding-top: 12.5%;
  background: url(./asset/Linkedin.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.GitLinkEffects {
  position: relative;
}

.GitLinkEffects::before {
  content: "";
  position: absolute;
  top: 100%;
  left: 40%;
  width: 50px;
  height: 50px;
  font-size: 18px;
  text-align: center;
}

.GitLinkEffects:hover::before {
  content: "";
  padding-top: 12.5%;
  background: url(./asset/gitIcon.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
            transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
            transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(0deg);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
            transform: scale(1, 0.8) translate(0px, 10px) rotate(10deg);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
            transform: scale(1, 1.1) translate(0px, -25px) rotate(0deg);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
            transform: scale(1, 1) translate(0px, 0px) rotate(-10deg);
  }
}

@-webkit-keyframes linearbounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px);
            transform: scale(1, 0.8) translate(0px, 10px);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px);
            transform: scale(1, 1.1) translate(0px, -25px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
}

@keyframes linearbounce {
  0% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
  30% {
    -webkit-transform: scale(1, 0.8) translate(0px, 10px);
            transform: scale(1, 0.8) translate(0px, 10px);
  }
  75% {
    -webkit-transform: scale(1, 1.1) translate(0px, -25px);
            transform: scale(1, 1.1) translate(0px, -25px);
  }
  100% {
    -webkit-transform: scale(1, 1) translate(0px, 0px);
            transform: scale(1, 1) translate(0px, 0px);
  }
}

@-webkit-keyframes rotatingReact {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotatingReact {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.notification {
  background-color: white;
  text-align: center;
  color: black;
  padding: 0.25rem;
  font-size: 18px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

.notification a {
  text-decoration: none;
  color: black;
  font-style: italic;
}

@media screen and (max-width: 1048px) {
  #myDetails {
    margin-bottom: 8.5rem;
  }
  #myDetails #intro {
    margin-top: 1rem;
    line-height: normal;
  }
  #myDetails p {
    margin-top: 1rem;
    width: 75%;
    font-size: 4vw;
  }
  #myDetails p a {
    font-size: 3.75vw;
  }
  .myTechStack {
    padding-top: 2.5%;
    margin-bottom: 1.5rem;
  }
  .techStack .stackBox {
    margin: 1rem 1rem 2rem 0.5rem;
  }
  .tools {
    position: relative;
  }
  .tools .toolsText {
    position: absolute;
    margin-top: 0;
    top: 5%;
    right: calc(80vw / 2);
  }
  .tools .mytools {
    margin-left: 1rem;
  }
  .tools .toolOne,
  .tools .toolTwo,
  .tools .toolThree {
    margin-top: 1.5rem;
  }
  #myPortfolio {
    padding-top: calc(1.5% * 2);
  }
  #showcase .portfolio {
    display: inline-block;
    margin-bottom: 2rem;
  }
  #showcase .portfolio .portfolioText {
    width: 80%;
    margin-left: 10%;
  }
  #showcase .portfolio .portfolioText h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 5vw;
  }
  #showcase .portfolio .portfolioText p {
    margin-bottom: 3rem;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5vw;
  }
  #showcase .portfolio .portfolioText a {
    margin-bottom: 2rem;
    font-style: normal;
    font-weight: 900;
    font-size: 2.5vw;
  }
  .sayHello form input {
    width: 60%;
    margin-left: 10%;
  }
  .sayHello form textarea {
    width: 60%;
    margin-left: 10%;
  }
  .sayHello form button {
    margin-left: 10%;
  }
}
/*# sourceMappingURL=main.css.map */